body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url(../img/bgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/* Home */

.addBox {
    width: 999px;
    height: 117px;
    margin: 10px;
    margin-left: 400px;
    display: flex;
    justify-content: space-around;
} 

.titleHome {
    align-self: center;
    font-size: 38px;
}

.addButton {
    width: 117px;
    height: 117px;
}

.tableHome {
    width: 1245px;
    height: 475px;
    border: 2px solid red;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
}

.table {
    width: 1245px;
    height: 475px;
    border: 2px solid rgb(17, 0, 255);
    /* display: flex;
    flex-flow: column wrap;
    justify-content: space-around; */
}


/* Footer */

.footerInfo {
    width: 1333px;
    height: 83px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 10px;
    margin-left: 70px;
    border: 2px solid green;
}

/* .mainFooter {
    display: flex;
    align-items: center;
    padding: 35px 100px;    
    justify-content: space-between;
}

.footerInfo{
    display: inline;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.footerSocialMedia a {
    padding: 0 20px;
}

.footer-social-media img {
    width: 25px;
} */