body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-image: url(../img/bgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/* Home */

main {
    display: flex;
    justify-content: center;
}

.addBox {
    width: 999px;
    height: 117px;
    margin: 10px;
    margin-left: 400px;
    display: flex;
    justify-content: space-around;
} 

.titleHome {
    align-self: center;
    font-size: 38px;
}

.addButton {
    width: 117px;
    height: 117px;
}

.tableHome {
    width: 1245px;
    height: 475px;
}

.table {
    width: 1245px;
    height: 475px;
}

/* .tableHome::-webkit-scrollbar{
    width: 12px;
    background: #efefef ;
} */


.boxTitle {
    padding: 20px;
}

/* Footer */

.mainFooter {
    display: flex;
    align-items: center;
    padding: 35px 100px;
    justify-content: space-between;
}

.footerInfo {
    display: inline;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.footerSocialMedia {
    display: flex;
    flex-wrap: wrap;
}

.footerSocialMedia a {
    padding: 0 20px;
}

.footerSocialMedia img {
    width: 25px;
}